worker/sisyphe-xml/conf/cambridge/dtd/jats-publishing-dtd-0.4/rng/JATS-math0.ent.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- MODULE:    Math Class Elements -->
<!-- VERSION:   NISO 0.4 -->
<!-- DATE:      January 2011 -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!--
  "-//NLM//DTD JATS (Z39.96) Archiving and Interchange DTD Suite Math Class Elements v0.4 20110131//EN"
       Delivered as file "JATS-math0.ent"
-->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- SYSTEM:     Archiving and Interchange DTD Suite -->
<!---->
<!-- PURPOSE:    Names all elements in the math classes -->
<!---->
<!-- CONTAINS:   1) Default definition of the math classes -->
<!-- 2) Inline formula <inline-formula> -->
<!-- 3) Display Formula <disp-formula> -->
<!-- 4) TeX Math Equation <tex-math> -->
<!---->
<!-- CREATED FOR: -->
<!-- Digital archives and publishers who wish to -->
<!-- create a custom XML DTD for original markup of -->
<!-- journal literature, books, and related material, -->
<!-- or for archiving and transferring such material -->
<!-- between archives. -->
<!---->
<!-- This DTD is in the public domain. An organization -->
<!-- that wishes to create its own DTD from the suite -->
<!-- may do so without permission from NLM. -->
<!---->
<!-- The suite has been set up to be extended using a -->
<!-- new DTD file and a new DTD-specific customization -->
<!-- module to redefine the many Parameter Entities. -->
<!-- Do not modify the suite directly or redistribute -->
<!-- modified versions of the suite. -->
<!---->
<!-- In the interest of maintaining consistency and -->
<!-- clarity for potential users, NLM requests: -->
<!---->
<!-- 1. If you create a DTD from the Archiving and -->
<!-- Interchange DTD Suite and intend to stay -->
<!-- compatible with the suite, then please include -->
<!-- the following statement as a comment in all of -->
<!-- your DTD modules: -->
<!-- "Created from, and fully compatible with, -->
<!-- the NISO Z39.96 Journal Article Tag Suite -->
<!-- (JATS)." -->
<!---->
<!-- 2. If you alter one or more modules of the suite, -->
<!-- then please rename your version and all its -->
<!-- modules to avoid any confusion with the -->
<!-- original suite. Also, please include the -->
<!-- following statement as a comment in all your -->
<!-- DTD modules: -->
<!-- "Based in part on, but not fully compatible -->
<!-- with, the NISO Z39.96 Journal Article Tag -->
<!-- Suite." -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- December 2002 -->
<!---->
<!-- CREATED BY: Jeff Beck       (NCBI) -->
<!-- Deborah Lapeyre (Mulberry Technologies, Inc.) -->
<!-- Bruce Rosenblum (Inera Inc.) -->
<!-- B. Tommie Usdin (Mulberry Technologies, Inc.) -->
<!---->
<!-- NLM thanks the Harvard University Libraries, both -->
<!-- for proposing that a draft archiving NLM DTD for -->
<!-- life sciences journals be extended to accommodate -->
<!-- journals in all disciplines and for sponsoring -->
<!-- Bruce Rosenblum's collaboration with other DTD -->
<!-- authors in completing NLM Version 1.0. The -->
<!-- Andrew W. Mellon Foundation provided support for -->
<!-- these important contributions. -->
<!---->
<!-- Suggestions for refinements and enhancements to -->
<!-- the DTD suite should be sent in email to: -->
<!-- jats@ncbi.nlm.nih.gov -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- DTD VERSION/CHANGE HISTORY -->
<!-- ============================================================= -->
<!--
  
  Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
  
       =============================================================
       Version 0.4                       (DAL/BTU) v0.4 (2011-01-31)
  
       This Tag Set is in the process of becoming a NISO standard.
       The version numbers are starting over from 0.4", as a Trial
       Use Draft, to be made into "Version 1.0" when the Tag Suite 
       becomes a NISO standard. Thus, NLM "Version 3.1 Draft" has 
       been changed to NISO "Version 0.4". No model, attribute, or
       parameter entity changes were made as part of this renaming.
  
       Details on NISO Tial Use Draft Version 0.4 are available at
             http://jats.nlm.nih.gov/JATS-0.4.
  
    4. Updated the public identifier to "v0.4 20110131//EN", 
       modified the formal public identifier to include "JATS (Z39.96)",
       and the filename as delivered to include "JATS" and the
       new version number "0".
  
       =============================================================
       Version 3.1                       (DAL/BTU) v3.1 (2010-04-30)
  
       Version 3.1 is fully compatible with Version 3.0.
  
       Details on version 3.1 are available at
             http://jats.nlm.nih.gov/3.1.
  
    3. @SPECIFIC-USE and @XML:LANG - Added the @specific-use and
       @xml:lang to the following elements:
  
        - disp-formula through disp-formula-atts (@xml:lang-only;
            @specific-use already)
        - disp-formula-group through disp-formula-group-atts
            (@xml:lang-only; @specific-use already)
        - inline-formula through inline-formula-atts
            (@specific-use-only; @xml:lang already)
  
    2. Updated public identifier to "v3.1 20100830//EN"
  
       =============================================================
       Version 3.0                       (DAL/BTU) v3.0 (2007-10-31)
  
       Version 3.0 is the first non-backward-compatible release.
       In addition to the usual incremental changes, some
       elements and attributes have been renamed and/or remodeled
       to better meet user needs and to increase tag set consistency.
       All module change histories are available through the Tag Suite
       web site at http://dtd.nlm.nih.gov.
  
       Details on version 3.0 are available at
             http://jats.nlm.nih.gov/3.0.
  
    1. Updated public identifier to "v3.0 20080202//EN"
-->
<!-- ============================================================= -->
<!-- PARAMETER ENTITIES FOR ATTRIBUTE LISTS -->
<!-- ============================================================= -->
<!-- DISPLAY FORMULA ATTRIBUTES -->
<!-- Attributes for the <disp-formula> element -->
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="disp-formula-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- DISPLAY FORMULA GROUP ATTRIBUTES -->
  <!--
    Attributes for the <disp-formula-group>
    element
  -->
  <define name="disp-formula-group-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- INLINE FORMULA ATTRIBUTES -->
  <!--
    Attribute list for the <inline-formula>
    element
  -->
  <define name="inline-formula-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- TEX MATH ATTRIBUTES -->
  <!-- Attributes for the <disp-formula> element -->
  <define name="tex-math-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="notation">
        <choice>
          <value>LaTeX</value>
          <value>tex</value>
          <value>TEX</value>
          <value>TeX</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="version"/>
    </optional>
  </define>
  <!-- ============================================================= -->
  <!-- MATH ELEMENTS (INLINE LEVEL) -->
  <!-- ============================================================= -->
  <!-- FORMULA, INLINE ELEMENTS -->
  <!--
    Elements for use in the <inline-formula>
    element
  -->
  <define name="inline-formula-elements">
    <choice>
      <ref name="emphasis.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="math.class"/>
      <ref name="phrase-content.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- FORMULA, INLINE MODEL -->
  <!-- Content model for an <inline-formula> -->
  <define name="inline-formula-model">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="inline-formula-elements"/>
      </choice>
    </zeroOrMore>
  </define>
  <!-- FORMULA, INLINE -->
  <!--
    Inline element for a mathematical
    equation, expression, or formula
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=inline-formula
    http://jats.nlm.nih.gov/publishing/tag-library/0.4/index.html?elem=inline-formula
    http://jats.nlm.nih.gov/articleauthoring/tag-library/0.4/index.html?elem=inline-formula
  -->
  <define name="inline-formula">
    <element name="inline-formula">
      <ref name="inline-formula-attlist"/>
      <ref name="inline-formula-model"/>
    </element>
  </define>
  <define name="inline-formula-attlist" combine="interleave">
    <ref name="inline-formula-atts"/>
  </define>
  <!-- ============================================================= -->
  <!-- MATH ELEMENTS (INLINE LEVEL) -->
  <!-- ============================================================= -->
  <!-- DISPLAY FORMULA ELEMENTS -->
  <!--
    Elements for use in the <disp-formula>
    element
  -->
  <define name="disp-formula-elements">
    <choice>
      <ref name="access.class"/>
      <ref name="address-link.class"/>
      <ref name="break.class"/>
      <ref name="emphasis.class"/>
      <ref name="inline-display-noalt.class"/>
      <ref name="inline-math.class"/>
      <ref name="label.class"/>
      <ref name="phrase-content.class"/>
      <ref name="math.class"/>
      <ref name="simple-display.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- FORMULA, DISPLAY MODEL -->
  <!-- Content model for an <disp-formula> -->
  <define name="disp-formula-model">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="disp-formula-elements"/>
      </choice>
    </zeroOrMore>
  </define>
  <!-- FORMULA, DISPLAY -->
  <!--
    Block-level (callout) element for a
    mathematical equation, expression, or
    formula.
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=disp-formula
    http://jats.nlm.nih.gov/publishing/tag-library/0.4/index.html?elem=disp-formula
    http://jats.nlm.nih.gov/articleauthoring/tag-library/0.4/index.html?elem=disp-formula
  -->
  <define name="disp-formula">
    <element name="disp-formula">
      <ref name="disp-formula-attlist"/>
      <ref name="disp-formula-model"/>
    </element>
  </define>
  <define name="disp-formula-attlist" combine="interleave">
    <ref name="disp-formula-atts"/>
  </define>
  <!-- FORMULA, DISPLAY GROUP MODEL -->
  <!-- Content model for an <disp-formula-group> -->
  <define name="disp-formula-group-model">
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="caption.class"/>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="access.class"/>
        <ref name="address-link.class"/>
      </choice>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="block-math.class"/>
    </zeroOrMore>
  </define>
  <!-- FORMULA, DISPLAY GROUP -->
  <!--
    Used for a group of equations or other
    mathematical expressions that are displayed
    together.
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=disp-formula-group
    http://jats.nlm.nih.gov/publishing/tag-library/0.4/index.html?elem=disp-formula-group
    http://jats.nlm.nih.gov/articleauthoring/tag-library/0.4/index.html?elem=disp-formula-group
  -->
  <define name="disp-formula-group">
    <element name="disp-formula-group">
      <ref name="disp-formula-group-attlist"/>
      <ref name="disp-formula-group-model"/>
    </element>
  </define>
  <define name="disp-formula-group-attlist" combine="interleave">
    <ref name="disp-formula-group-atts"/>
  </define>
  <!-- TEX MATH EQUATION -->
  <!--
    Used to hold encoded math, expressed in TeX
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=tex-math
    http://jats.nlm.nih.gov/publishing/tag-library/0.4/index.html?elem=tex-math
  -->
  <define name="tex-math">
    <element name="tex-math">
      <ref name="tex-math-attlist"/>
      <text/>
    </element>
  </define>
  <define name="tex-math-attlist" combine="interleave">
    <ref name="tex-math-atts"/>
  </define>
</grammar>
<!-- ================== End Math Class Elements Module =========== -->
