worker/sisyphe-xml/conf/brepols-ebooks/dtd/atypon-book3.dtd

<!-- ============================================================= -->
<!--  MODULE:    NCBI Book DTD                                     -->
<!--  VERSION:   3.0                                               -->
<!--  DATE:      Jan 2010                                          -->
<!--                                                               -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!--                    PUBLIC DOCUMENT TYPE DEFINITION            -->
<!--                        TYPICAL INVOCATION                     -->
<!--
"-//Atypon//DTD Atypon Systems NCBI Book DTD Suite v3.0.8 20140909//EN"
     Delivered as file "atypon-book3.dtd"                          -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!-- SYSTEM:     NCBI BOOK DTD of the                              -->
<!--             Archiving and Interchange DTD Suite               -->
<!--                                                               -->
<!-- PURPOSE:    DTD to describe a book or monograph               -->
<!--                                                               -->
<!-- CONTAINS:   1) Declare and invoke the Book-DTD-specific       -->
<!--                module of modules, that names any modules      -->
<!--                created expressly for this Book DTD.           -->
<!--                             (%bookcustom-modules.ent;)        -->
<!--             2) Declare and invoke the DTD Suite module of     -->
<!--                   modules (%modules.ent;), the Archiving and  -->
<!--                   Interchange Suite module that names all the -->
<!--                   Suite modules this DTD might invoke         -->
<!--             3) Invoke DTD-specific over-ride classes module   -->
<!--                   (%journalpub-classes.ent;)                  -->
<!--             4) Invoke Suite default classes                   -->
<!--                   (%default-classes.ent;)                     -->
<!--             5) Invoke DTD-specific over-ride mixes module     -->
<!--                   (%bookcustom-mixes.ent;)                    -->
<!--             6) Invoke Suite default mixes                     -->
<!--                   (%default-mixes.ent;)                       -->
<!--             7) Invoke DTD-specific content model and attribute-->
<!--                   over-rides module (%bookcustom-models.ent;) -->
<!--             8) Invoke the Common Element Module (from Suite)  -->
<!--             9) Invoke all the Class Modules (from Suite) as   -->
<!--                   well as any DTD-specific element modules    -->
<!--            10) Parameter Entities for attribute values used   -->
<!--                 in this module (DTD-specific definitions)     -->
<!--            11) Define document element (Book <book>)          -->
<!--            12) Define Front Matter <book-front>               -->
<!--            13) Define book components such as chapter and part-->
<!--                                                               -->
<!-- CREATED FOR:                                                  -->
<!--             NLM Bookshelf                                     -->
<!--             National Center for Biotechnology Information     -->
<!--                (NCBI)                                         -->
<!--             National Library of Medicine (NLM)                -->
<!--                                                               -->
<!-- ORIGINAL CREATION DATE:                                       -->
<!--             October 2004                                      -->
<!--                                                               -->
<!-- CREATED BY: Bart Trawick    (NCBI)                            -->
<!--             Jeff Beck       (NCBI)                            -->
<!--             Deborah Lapeyre (Mulberry Technologies, Inc.)     -->
<!--             B. Tommie Usdin (Mulberry Technologies, Inc.)     -->
<!--                                                               -->
<!--             Suggestions for refinements and enhancements to   -->
<!--             this DTD should be sent in email to:              -->
<!--                 archive-dtd@ncbi.nlm.nih.gov                  -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!--                    DTD VERSION\CHANGE HISTORY                 -->
<!-- ============================================================= -->
<!--

     =============================================================

Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)

     =============================================================
     Version 3.0                       (DAL/BTU) v3.0 (2007-10-31)
     
     Version 3.0 is the first non-backward-compatible release.
     In addition to the usual incremental changes, some
     elements and attributes have been renamed and/or remodeled
     to better meet user needs and to increase tag set consistency.
     All module change histories are available through the Tag Suite 
     web site at http://dtd.nlm.nih.gov. 

     Details on version 3.0 are available at 
           http://dtd.nlm.nih.gov/3.0.
  
  2. Changed default @xml:lang from "EN" from "en" to match latest
     RFC 4646/W3C/IANA Subtag Registry recommendations
  
  1. Updated public identifier to "v3.0 20080202//EN"              -->


<!-- ============================================================= -->
<!--                    MODULES OF MODULES INVOKED                 -->
<!-- ============================================================= -->


<!--                    MODULE TO NAME DTD-SPECIFIC MODULES        -->
<!--                    Names all DTD-specific external modules    -->
<!ENTITY % bookcustom-modules.ent PUBLIC  
"-//Atypon//DTD Atypon Systems NCBI Book DTD Suite Modules v3.0.8 20140909//EN"
"atypon-bookcustom-modules3.ent"                                     >
%bookcustom-modules.ent; 


<!--                    MODULE TO NAME THE MODULES                 -->
<!--                    Declares all the external modules that are  
                        part of the modular Journal Archiving and 
                        Interchange DTD Suite library.             -->
<!ENTITY % modules.ent PUBLIC  
"-//Atypon//DTD Atypon Systems NCBI Book DTD Suite Module of Modules v3.0.8 20140909//EN"
"modules3.ent"                                                       >
%modules.ent; 


<!-- ============================================================= -->
<!--                    CUSTOMIZATION MODULES INVOKED              -->
<!--                    Note: These modules must be called after   -->
<!--                    all Module of Modules but before any other -->
<!--                    modules. Unlike any other grouping, order  -->
<!--                    of these modules matters.                  -->
<!-- ============================================================= -->


<!--                    DTD-SPECIFIC CLASS CUSTOMIZATIONS MODULE   -->
<!--                    Names the module that holds the DTD-specific
                        class definitions for the Book DTD. 
                        (Defined in %bookcustom-modules.ent; )     -->
%bookcustom-classes.ent; 


<!--                    DEFAULT ELEMENT CLASSES MODULE             -->
<!--                    Names the module that holds the standard
                        class definitions for the Journal Archiving
                        and Interchange DTD Suite.                 -->
%default-classes.ent; 


<!--                    DTD-SPECIFIC MIX CUSTOMIZATIONS MODULE     -->
<!--                    Set up the Parameter Entities and element
                        class definitions for the Book DTD that will 
                        be used to over-ride mixes in full DTD Suite.
                        (Defined in %bookcustom-modules.ent; )     -->
%bookcustom-mixes.ent; 


<!--                    DEFAULT MIX CUSTOMIZATIONS MODULE          -->
<!--                    Names the module that holds the standard
                        mix definitions for the Journal Archiving
                        and Interchange DTD Suite.                 -->
%default-mixes.ent; 


<!--                    DTD-SPECIFIC MODELS/ATTRIBUTES CUSTOMIZATIONS 
                        MODULE                                     -->
<!--                    Names the module that holds the over-rides
                        of content models, attribute lists, elements
                        lists to be used in content models, and
                        attribute values. These are Book DTD-specific.
                        (Defined in %bookcustom-modules.ent; )     -->
%bookcustom-models.ent;  


<!-- ============================================================= -->
<!--                    COMMON (SHARED) ELEMENTS MODULE INVOKED    -->
<!-- ============================================================= -->


<!--                    COMMON (SHARED) DECLARATIONS               -->
<!--                    Declarations for elements, attributes, 
                        entities, and Notations that are shared by
                        more than one class module. Note: Must be 
                        called before any of the class modules.    -->

%common.ent; 

 
<!-- ============================================================= -->
<!--                    DTD SUITE CLASS ELEMENTS (alpha)           -->
<!-- ============================================================= -->


<!--                    ARTICLE METADATA ELEMENTS                  -->
<!--                    These, while written for journal articles,
                        include many useful metadata elements for
                        books as well. Supplemented by the metadata
                        elements defined in -%bookmeta.ent and
                        -%bookpart.ent; .                          -->
%articlemeta.ent; 


<!--                    BACK MATTER ELEMENTS                       -->
<!--                    Book textual back matter elements          -->
%backmatter.ent; 


<!--                    DISPLAY (GRAPHICAL) ELEMENTS               -->
<!--                    Display elements such as <graphic> and
                        <figure>                                   -->
%display.ent; 


<!--                    FORMATTING ELEMENT CLASSES                 -->
<!--                    Elements that change rendition/display.    -->
%format.ent; 


<!--                    FUNDING ELEMENTS                           -->
<!--                    Elements that describe the sponsorship or
                        open access                                -->
%funding.ent; 


<!--                    LINK CLASS ELEMENTS                        -->
<!--                    Elements for internal cross references
                        and external links                         -->
%link.ent; 


<!--                    LIST CLASS ELEMENTS                        -->
<!--                    Elements for list of items                 -->
%list.ent; 


<!--                    MATH ELEMENTS                              -->
<!--                    Elements for mathematical formulae and 
                        equations                                  -->
%math.ent; 


<!--                    NLM CITATION ELEMENT                       -->
%nlmcitation.ent; 


<!--                    PARAGRAPH-LEVEL ELEMENTS                   -->
<!--                    Elements for paragraphs and named paragraphs, 
                        such as Statements.                        -->
%para.ent; 


<!--                    PHRASE-LEVEL ELEMENTS                      -->
<!--                    Inline elements                            -->
%phrase.ent; 


<!--                    BIBLIOGRAPHIC REFERENCE (CITATION) 
                        CLASS ELEMENTS                             -->
<!--                    Elements for reference lists (citations)   -->
%references.ent; 
 

<!--                    RELATED OBJECT ELEMENT                     -->
<!--                    Defines the <related-object> element to
                        describe a related object such as a
                        related book or a dataset.                 -->
%related-object.ent; 


<!--                    SECTION ELEMENTS                           -->
<!--                    Elements for headed groups of paragraph-like
                        objects                                    -->
%section.ent; 


<!-- ============================================================= -->
<!--                    REST OF THE DTD SUITE                      -->
<!-- ============================================================= -->


<!--                    CUSTOM SPECIAL CHARACTERS DECLARATIONS     -->
<!--                    Custom special character entities created 
                        specifically for use in this DTD Suite     -->
%chars.ent; 


<!--                    MATHML SETUP MODULE                        -->
<!--                    Invoke the MathML modules                  -->
%mathmlsetup.ent;                                             


<!--                    NOTATION DECLARATIONS MODULE               -->
<!--                    Declare notations for graphics, math, etc. -->
%notat.ent; 


<!--                    XHTML TABLE SETUP MODULE                   -->
<!--                    Set up the necessary Parameter Entity values
                        and then invoke XHTML (HTML 4.0) table 
                        module                                     -->
%XHTMLtablesetup.ent; 


<!--                    OASIS (CALS) TABLE SETUP MODULE            -->
<!--                    Set up the necessary Parameter Entity values
                        and then invoke OASIS (CALS) table
                        module                                     -->
%oasis-tablesetup.ent;


<!--                    SPECIAL CHARACTERS DECLARATIONS            -->
<!--                    Standard XML special character entities 
                        used in this DTD                           -->
%xmlspecchars.ent;                                                                 
 
 
<!-- ============================================================= -->
<!--                    PARAMETER ENTITIES FOR ATTRIBUTE LISTS     -->
<!-- ============================================================= -->


<!--                    DTD VERSION                                -->
<!--                    What version of this DTD was used to make
                        the document instance under consideration.
                        Note that this is a fixed value that should
                        change every time the DTD changes versions or
                        revisions.                                 -->
<!ENTITY % dtd-version   
            "dtd-version        
                        CDATA                          #FIXED '3.0'" >



<!--                    BOOK IDENTIFIER ATTRIBUTES                 -->
<!--                    Book identifiers, such as one of type ID, so
                        internal references can be made            -->
<!ENTITY % book-identifier-atts   
            "book-id    ID                                 #IMPLIED
	     book-type  CDATA                              #IMPLIED
	     content-type  CDATA                           #IMPLIED" >


<!--                    BOOK ATTRIBUTES                            -->
<!--                    Attributes for the top-level element
                        <book> as well as for <book-part>s         -->
<!ENTITY % book-atts
            "%book-identifier-atts;
             %dtd-version;                              
             xml:lang   NMTOKEN                                'en'     
             %XLINK.xmlns.attrib;
             %MATHML.xmlns.attrib;
             %Schema.xmlns.attrib;
             %oasis.xmlns.attrib;"                                   >

 
<!-- ============================================================= -->
<!--                    BOOK-SPECIFIC ELEMENTS                     -->
<!-- ============================================================= -->


<!--                    BOOK-SPECIFIC METADATA                     -->
<!--                    Metadata elements that were not in the
                        original DTD Suite as they were not used
                        in journal articles.                       -->
%bookmeta.ent; 


<!--                    BOOK COMPONENT METADATA AND ELEMENTS       -->
<!--                    Elements that name components of books such
                        as chapters, which are modeled as
                        <book-part>s.                              -->
%bookpart.ent; 


<!--                    BOOK IMAGE MAP ELEMENTS                    -->
<!--                    Elements used in Image Maps                -->
%bookimagemap.ent; 


<!--                    BOOK MULTI-LINK ELEMENTS                   -->
<!--                    Elements used for book-DTD-specific 
                        links to external resources                -->
%bookmultilink.ent; 
  

<!--                    ATYPON-SPECIFIC MODELS                     -->
%book-elements.ent; 


<!-- ============================================================= -->
<!--                    BOOK ELEMENTS                              -->
<!-- ============================================================= -->


<!--                    BOOK MODEL                                 -->
<!--                    Content model for the <book> element       -->
<!ENTITY % book-model   "(book-series-meta?, book-meta,
                          book-front?, body?, back?)"                >


<!--                    BOOK                                       -->
<!--                    Top-level document for this DTD. A "book" as
                        defined in this DTD covers a variety of STM
                        monographs and reference books, largely 
                        biomedical in subject, that may include
                        previously published works, historical works,
                        new works written for NCBI, compilations, and
                        internal regulations and procedure of NLM. 
                        Details at: 
                        http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=book
                                                                   -->
<!ELEMENT  book         %book-model;                                 >                
<!ATTLIST  book
            %book-atts;                                              >
            

<!-- ============================================================= -->
<!--                    BOOK METADATA                              -->
<!-- ============================================================= -->


<!--                    BOOK METADATA                              -->
<!--                    Whole-book-level metadata elements, for
                        example, book title, volume, and ISBN for a 
                        work such as a monograph, encyclopedia, 
                        reference volume, etc.
                        Details at: 
                        http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=book-meta
                                                                   -->
<!ELEMENT  book-meta    %book-meta-model;                            >


<!-- ============================================================= -->
<!--                    BOOK SERIES METADATA                       -->
<!-- ============================================================= -->


<!--                    BOOK SERIES METADATA                       -->
<!--                    Book-series-level metadata elements, for
                        example, book series title, book series
                        editors, ISBN etc.                         -->
<!ELEMENT  book-series-meta    %book-meta-model;                     >


<!-- ============================================================= -->
<!--                    BOOK TEXTUAL FRONT MATTER                  -->
<!-- ============================================================= -->



<!--                    BOOK TEXTUAL FRONT MATTER MODEL            -->
<!--                    Content model for the <book-front>. This is
                        the textual front matter of a book as 
                        distinguished from its metadata, which is
                        contained in the element <book-meta>.      -->
<!ENTITY % book-front-model 
                        "(label?, title*, 
                          (%doc-front-matter-mix;)* )"               >


<!--                    BOOK FRONT MATTER                          -->
<!--                    A wrapper element for the textual front 
                        matter (such as introductions and prefaces)
                        of a book. Not a metadata wrapper, that
                        function is preformed by <book-meta>. 
                        Details at: 
                        http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=book-front
                                                                   -->
<!ELEMENT  book-front   %book-front-model;                           >


<!-- ============================================================= -->
<!--                    BODY ELEMENTS                              -->
<!-- ============================================================= -->


<!--                    BODY                                       -->
<!--                    The main textual portion of the book; this
                        contains the content of the work 
                        Details at: 
                        http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=body
                                                                   -->
<!ELEMENT  body         %body-model;                                 >


<!-- ============================================================= -->
<!--                    BACK MATTER ELEMENTS                       -->
<!-- ============================================================= -->


<!--                    BACK MATTER MODEL                          -->
<!--                    Content model for the Back Matter of a book.
                        This is typically ancillary material such as 
                        glossaries, appendices, bibliographies,
                        reference tables, etc. 
                                                                   -->
<!ENTITY % back-model   "(label?, title*, (%doc-back-matter-mix; | 
                           %just-table.class;)* )"                   >


<!--                    BACK MATTER                                -->
<!--                    Ancillary or supporting material not included
                        as part of the main textual content of a 
                        journal article, for example appendices and
                        acknowledgments. 
                        Details at: 
                        http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=back
                                                                   -->
<!ELEMENT  back         %back-model;                                 >



<!-- ================== End NCBI Book DTD =========================-->
