worker/sisyphe-xml/conf/brepols-ebooks/dtd/bookmeta3.ent

<!-- ============================================================= -->
<!--  MODULE:    Book Metadata Elements                            -->
<!--  VERSION:   3.0                                               -->
<!--  DATE:      Jan 2010                                          -->
<!--                                                               -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!--                    PUBLIC DOCUMENT TYPE DEFINITION            -->
<!--                        TYPICAL INVOCATION                     -->
<!--
"-//Atypon//DTD Atypon Systems NCBI Book DTD Book Metadata Elements v3.0.8 20140909//EN"
     Delivered as file "bookmeta3.ent"                             -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!-- SYSTEM:     NCBI BOOK DTD of the                              -->
<!--             Archiving and Interchange DTD Suite               -->
<!--                                                               -->
<!-- PURPOSE:    Describe book-specific metadata elements that     -->
<!--             are not defined in the DTD-Suite metadata module  -->
<!--             %articlemeta.ent;                                 -->
<!--                                                               -->
<!-- CONTAINS:   1) book-metadata Parameter Entity                 -->
<!--             2) Metadata elements new to book metadata (the    -->
<!--                rest of the metadata are defined in the Suite  -->
<!--                modules %articlemeta.ent;                      -->
<!--                                                               -->
<!-- CREATED FOR:                                                  -->
<!--             NLM Bookshelf                                     -->
<!--             National Center for Biotechnology Information     -->
<!--                (NCBI)                                         -->
<!--             National Library of Medicine (NLM)                -->
<!--                                                               -->
<!-- ORIGINAL CREATION DATE:                                       -->
<!--             October 2004                                      -->
<!--                                                               -->
<!-- CREATED BY: Bart Trawick    (NCBI)                            -->
<!--             Jeff Beck       (NCBI)                            -->
<!--             Deborah Lapeyre (Mulberry Technologies, Inc.)     -->
<!--             B. Tommie Usdin (Mulberry Technologies, Inc.)     -->
<!--                                                               -->
<!--             Suggestions for refinements and enhancements to   -->
<!--             this DTD should be sent in email to:              -->
<!--                 archive-dtd@ncbi.nlm.nih.gov                  -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!--                    DTD VERSION\CHANGE HISTORY                 -->
<!-- ============================================================= -->
<!--
     =============================================================

Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)

     =============================================================
     Version 3.0                       (DAL/BTU) v3.0 (2007-10-31)
     
     Version 3.0 is the first non-backward-compatible release.
     In addition to the usual incremental changes, some
     elements and attributes have been renamed and/or remodeled
     to better meet user needs and to increase tag set consistency.
     All module change histories are available through the Tag Suite 
     web site at http://dtd.nlm.nih.gov. 

     Details on version 3.0 are available at 
           http://dtd.nlm.nih.gov/3.0.
  
  1. Updated public identifier to "v3.0 20080202//EN"              -->


<!-- ============================================================= -->
<!--                    BOOK METADATA ATTRIBUTES                   -->
<!-- ============================================================= -->


<!--                    BOOK IDENTIFIER ATTRIBUTES                 -->
<!--                    Attribute list for the <book-id> element   -->
<!ENTITY % book-id-atts  
            "pub-id-type
                        (%pub-id-types;)                   #IMPLIED" >


<!--                    BOOK TITLE ATTRIBUTES                      -->
<!--                    Attribute list for the <book-title> element-->
<!ENTITY % book-title-atts  
            "id         ID                                 #IMPLIED
             content-type
                        CDATA                              #IMPLIED
             xml:lang   CDATA                              #IMPLIED" >


<!--                    ALTERNATIVE FORM ATTRIBUTES                -->
<!--                    Attribute list for the <alternate-form> 
                        element                                    -->
<!ENTITY % alternate-form-atts  
            "alternate-form-type
                        CDATA                             #IMPLIED  
             %link-atts;"                                            >


<!-- ============================================================= -->
<!--                    BOOK METADATA ELEMENTS                     -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!--                    BOOK FRONT MATTER ELEMENTS                 -->
<!-- ============================================================= -->


<!--                    BOOK IDENTIFIER                            -->
<!--                    An identifier, such as a DOI or archive
                        control number, for the work. There is a
                        separate element for the ISBNs <isbn>.     
                        Details at: 
                        http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=book-id
                                                                   -->
<!ELEMENT  book-id      (#PCDATA)                                    >
<!ATTLIST  book-id  
             %book-id-atts;                                          >


<!-- ============================================================= -->
<!--                    BOOK FRONT MATTER TITLE GROUP ELEMENTS     -->
<!-- ============================================================= -->


<!--                    ALTERNATE FORM OF                          -->
<!--                    Used to point to an alternative form of the
                        material, for example, a PDF file (in which
                        case the element may be EMPTY) or to describe
                        (in the content) an alternative format,
                        such as an audio edition.
                        Details at: 
                        http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=alternate-form
                                                                   -->
<!ELEMENT  alternate-form 
                        (#PCDATA)                                    >
<!ATTLIST  alternate-form
             %alternate-form-atts;                                   >


<!--                    BOOK TITLE GROUP MODEL                     -->
<!--                    Content model for the <BOOK-title-group> 
                        element                                    -->
<!ENTITY % book-title-group-model   
                        "(book-title, subtitle*, trans-title-group*, 
                          alt-title*)"                               > 


<!--                    BOOK TITLE GROUP                           -->
<!--                    A container element for the various title
                        elements that might be used for the work
                        Details at: 
                        http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=book-title-group
                                                                   -->
<!ELEMENT  book-title-group 
                        %book-title-group-model;                     > 


<!--                    BOOK TITLE                                 -->
<!--                    The title of the book in the language
                        in which the article was originally
                        published          
                        Details at: 
                        http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=book-title
                                                                   -->
<!ELEMENT  book-title   (#PCDATA %title-elements;)*                  >
<!ATTLIST  book-title
             %book-title-atts;                                       >
             

<!-- ================== End Book Metadata Elements =============== -->
