worker/sisyphe-xml/conf/brepols-ebooks/dtd/bookpart3.ent

<!-- ============================================================= -->
<!--  MODULE:    Book Component Elements and Metadata              -->
<!--  VERSION:   3.0                                               -->
<!--  DATE:      Jan 2010                                          -->
<!--                                                               -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!--                    PUBLIC DOCUMENT TYPE DEFINITION            -->
<!--                        TYPICAL INVOCATION                     -->
<!--
"-//Atypon//DTD Atypon Systems NCBI Book DTD Suite Component Metadata Elements v3.0.8 20140909//EN"
     Delivered as file "bookpart3.ent"                             -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!-- SYSTEM:     NCBI BOOK DTD of the                              -->
<!--             Archiving and Interchange DTD Suite               -->
<!--                                                               -->
<!-- PURPOSE:    Declare book-component-level metadata, such as    -->
<!--             chapter-specific or part-specific metadata        -->
<!--             elements                                          -->
<!--                                                               -->
<!-- CONTAINS:   1) Parameter Entities for attribute lists         -->
<!--             2) Book metadata elements                         -->
<!--                                                               -->
<!-- CREATED FOR:                                                  -->
<!--             NLM Bookshelf                                     -->
<!--             National Center for Biotechnology Information     -->
<!--                (NCBI)                                         -->
<!--             National Library of Medicine (NLM)                -->
<!--                                                               -->
<!-- ORIGINAL CREATION DATE:                                       -->
<!--             October 2002                                      -->
<!--                                                               -->
<!-- CREATED BY: Bart Trawick    (NCBI)                            -->
<!--             Jeff Beck       (NCBI)                            -->
<!--             Deborah Lapeyre (Mulberry Technologies, Inc.)     -->
<!--             B. Tommie Usdin (Mulberry Technologies, Inc.)     -->
<!--                                                               -->
<!--             Suggestions for refinements and enhancements to   -->
<!--             this DTD should be sent in email to:              -->
<!--                 archive-dtd@ncbi.nlm.nih.gov                  -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!--                    DTD VERSION\CHANGE HISTORY                 -->
<!-- ============================================================= -->
<!--
     =============================================================

Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)

     =============================================================
     Version 3.0                       (DAL/BTU) v3.0 (2007-10-31)
     
     Version 3.0 is the first non-backward-compatible release.
     In addition to the usual incremental changes, some
     elements and attributes have been renamed and/or remodeled
     to better meet user needs and to increase tag set consistency.
     All module change histories are available through the Tag Suite 
     web site at http://dtd.nlm.nih.gov. 

     Details on version 3.0 are available at 
           http://dtd.nlm.nih.gov/3.0.
  
  2. Changed default @xml:lang from "EN" from "en" to match latest
     RFC 4646/W3C/IANA Subtag Registry recommendations
  
  1. Updated public identifier to "v3.0 20080202//EN"              -->


<!-- ============================================================= -->
<!--                    PARAMETER ENTITIES FOR ATTRIBUTE LISTS     -->
<!-- ============================================================= -->


<!--                    BOOK PART ATTRIBUTES                       -->
<!--                    Attributes used with the <book-part> element
                                                                   -->
<!ENTITY % book-part-atts
            "id         ID                                #IMPLIED
             book-part-type     
                        CDATA                             #IMPLIED
             book-part-number   
                        CDATA                             #IMPLIED
             indexed    (true | false)                    'true'
             xml:lang   NMTOKEN                           #IMPLIED     
             %might-link-atts;                            
             %MATHML.xmlns.attrib;"                                  >


<!-- ============================================================= -->
<!--                    BOOK PART ELEMENTS                         -->
<!-- ============================================================= -->
                                                               

<!-- ============================================================= -->
<!--                    BOOK PARTS (COMPONENTS SUCH AS CHAPTERS)   -->
<!-- ============================================================= -->


<!--                    BOOK PART MODEL                            -->
<!--                    Content model for the <book-part> element  -->
<!ENTITY % book-part-model 
                        "(book-meta?, book-part-meta?, book-front?, 
                          body?, back?)"                             >


<!--ELEM  book-front    Defined in %book.dtd;                      -->
                        

<!--                    BOOK PART                                  -->
<!--                    One organizational unit of a book, typically 
                        called a chapter, but it might be a part, 
                        module, section, unit, topic, volume, etc.
                        Details at: 
                        http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=book-part
                                                                   -->
<!ELEMENT  book-part    %book-part-model;                            >
<!ATTLIST  book-part
             %book-part-atts;                                        >
                

<!-- ============================================================= -->
<!--                    BOOK PART METADATA ELEMENTS                -->
<!-- ============================================================= -->


<!--                    BOOK PART METADATA MODEL                   -->
<!--                    Full content model for the metadata that is
                        specific to a book component, such as a 
                        chapter or unit                            -->
<!ENTITY % book-part-meta-model  
                        "(book-part-categories?, title-group, 
                         (contrib-group | aff)*, 
                         author-notes?, pub-date*, 
                         volume?, volume-id?, issue?,   
                         ((fpage, lpage?) | elocation-id)?, 
                         (supplementary-material)*, 
                         history?,permissions?,  
                         self-uri*, alternate-form*, 
                         abstract*, trans-abstract*, kwd-group*,
                         counts?,
                         (%address-link.class; | %custom-meta.class; |
                          %front-back.class;)* )"                    >


<!--                    BOOK PART METADATA                         -->
<!--                    Container element for the metadata that is
                        specific to the large-scale components that
                        comprise the body of a book, such as a
                        chapter, unit, or module (all called
                        <book-part>
                        Details at: 
                        http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=book-part-meta
                                                                   -->
<!ELEMENT  book-part-meta  
                        %book-part-meta-model;                       >


<!--                    BOOK PART CATEGORIES MODEL                 -->
<!--                    Full content model for Book Part Categories-->                   
<!ENTITY % book-part-categories-model  
                        "(subj-group+)"                              >


<!--                    BOOK PART CATEGORIES                       -->
<!--                    Wrapper for categorization information for
                        book parts.
                        Details at: 
                        http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=book-part-categories
                                                                   -->
<!ELEMENT  book-part-categories  
                        %book-part-categories-model;                 >


<!-- ================== End Book Component Metadata Elements ===== -->
