worker/sisyphe-xml/conf/brepols-ebooks/dtd/bookimagemap3.ent

<!-- ============================================================= -->
<!--  MODULE:    Book Image Map Elements                           -->
<!--  VERSION:   3.0                                               -->
<!--  DATE:      Jan 2010                                          -->
<!--                                                               -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!--                    PUBLIC DOCUMENT TYPE DEFINITION            -->
<!--                        TYPICAL INVOCATION                     -->
<!--
"-//Atypon//DTD Atypon Systems NCBI Book DTD Suite Image Map Elements v3.0.8 20140909//EN"
    Delivered as file "bookimagemap3.ent"                          -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!-- SYSTEM:     NCBI BOOK DTD of the                              -->
<!--             Archiving and Interchange DTD Suite               -->
<!--                                                               -->
<!-- PURPOSE:    Define the elements used in Image Maps            -->
<!--                                                               -->
<!-- CONTAINS:   1) Declare the map elements                       -->
<!--                                                               -->
<!-- CREATED FOR:                                                  -->
<!--             NLM Bookshelf                                     -->
<!--             National Center for Biotechnology Information     -->
<!--                (NCBI)                                         -->
<!--             National Library of Medicine (NLM)                -->
<!--                                                               -->
<!-- ORIGINAL CREATION DATE:                                       -->
<!--             October 2004                                      -->
<!--                                                               -->
<!-- CREATED BY: Bart Trawick    (NCBI)                            -->
<!--             Jeff Beck       (NCBI)                            -->
<!--             Deborah Lapeyre (Mulberry Technologies, Inc.)     -->
<!--             B. Tommie Usdin (Mulberry Technologies, Inc.)     -->
<!--                                                               -->
<!--             Suggestions for refinements and enhancements to   -->
<!--             this DTD should be sent in email to:              -->
<!--                 archive-dtd@ncbi.nlm.nih.gov                  -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!--                    DTD VERSION\CHANGE HISTORY                 -->
<!-- ============================================================= -->
<!--
     =============================================================

Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)

     =============================================================
     Version 3.0                       (DAL/BTU) v3.0 (2007-10-31)
     
     Version 3.0 is the first non-backward-compatible release.
     In addition to the usual incremental changes, some
     elements and attributes have been renamed and/or remodeled
     to better meet user needs and to increase tag set consistency.
     All module change histories are available through the Tag Suite 
     web site at http://dtd.nlm.nih.gov. 

     Details on version 3.0 are available at 
           http://dtd.nlm.nih.gov/3.0.
  
  1. Updated public identifier to "v3.0 20080202//EN"              -->


<!-- ============================================================= -->
<!--                    IMAGE MAP ELEMENTS                         -->
<!-- ============================================================= -->


<!--                    IMAGE MAP                                  -->
<!--                    Container element for the information 
                        necessary to work a client-side imagemap.
                        The grouping contains an image and 
                        client-side imagemap mapping data to overlay
                        hot spots on the image.
                        Details at: 
                        http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=map-group
                                                                   -->
<!ELEMENT  map-group    (graphic, map)                               >
<!ATTLIST  map-group
             id         ID                                 #IMPLIED  >  


<!--                    MAP                                        -->
<!--                    Element consisting solely of client-side
                        mapping data, which is comprised of one or
                        more <area>s  
                        Details at: 
                        http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=map
                                                                   -->
<!ELEMENT  map          (area+)                                      >
<!ATTLIST  map        
             map-name   NMTOKEN                            #REQUIRED >


<!--                    AREA                                       -->
<!--                    An EMPTY element that holds the attributes
                        which describe one region within a linked 
                        image to be made into a hot link, by its 
                        shape and coordinates, and an 
                        associated URI ("xlink:href") for the link.
                        Remarks: The "map-alt" attribute can name an
                        alternative to the given map. 
                        Details at: 
                        http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=area
                                                                   -->
<!ELEMENT  area         EMPTY                                        >
<!ATTLIST  area
            map-shape   (rect | circle | poly)             #REQUIRED
            map-coords  CDATA                              #REQUIRED
            map-alt     CDATA                              #IMPLIED
            %link-atts;                                              >


<!-- ================== End Book Image Map Elements ============== -->
