worker/sisyphe-xml/conf/cambridge/dtd/jats-publishing-dtd-0.4/JATS-section0.ent

<!-- ============================================================= -->
<!--  MODULE:    Section Class Elements                            -->
<!--  VERSION:   NISO 0.4                                          -->
<!--  DATE:      January 2011                                      -->
<!--                                                               -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!--                    PUBLIC DOCUMENT TYPE DEFINITION            -->
<!--                        TYPICAL INVOCATION                     -->
<!--
"-//NLM//DTD JATS (Z39.96) Archiving and Interchange DTD Suite Section Class Elements v0.4 20110131//EN"
     Delivered as file "JATS-section0.ent"                         -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!-- SYSTEM:     Archiving and Interchange DTD Suite               -->
<!--                                                               -->
<!-- PURPOSE:    Defines the member of the sec.class, that is,     -->
<!--             names all section-level elements in the           -->
<!--             Archiving and Interchange DTD Suite               -->
<!--                                                               -->
<!--             At the time of the initial DTD creation           -->
<!--             there is only one such element, Section itself    -->
<!--             <sec>, but future expansion to named sections     -->
<!--             (such as <methodology> or <materials> or any      -->
<!--             new section-level structures would be added here. -->
<!--                                                               -->
<!-- CONTAINS:   1) Default definition of the section class        -->
<!--             2) Defaults for attribute lists                   -->
<!--             3) Section <sec>                                  -->
<!--                                                               -->
<!-- CREATED FOR:                                                  -->
<!--             Digital archives and publishers who wish to       -->
<!--             create a custom XML DTD for original markup of    -->
<!--             journal literature, books, and related material,  -->
<!--             or for archiving and transferring such material   -->
<!--             between archives.                                 -->
<!--                                                               -->
<!--             This DTD is in the public domain. An organization -->
<!--             that wishes to create its own DTD from the suite  -->
<!--             may do so without permission from NLM.            -->
<!--                                                               -->
<!--             The suite has been set up to be extended using a  -->
<!--             new DTD file and a new DTD-specific customization -->
<!--             module to redefine the many Parameter Entities.   -->
<!--             Do not modify the suite directly or redistribute  -->
<!--             modified versions of the suite.                   -->
<!--                                                               -->
<!--             In the interest of maintaining consistency and    -->
<!--             clarity for potential users, NLM requests:        -->
<!--                                                               -->
<!--             1. If you create a DTD from the Archiving and     -->
<!--                Interchange DTD Suite and intend to stay       -->
<!--                compatible with the suite, then please include -->
<!--                the following statement as a comment in all of -->
<!--                your DTD modules:                              -->
<!--                   "Created from, and fully compatible with,   -->
<!--                    the NISO Z39.96 Journal Article Tag Suite  -->
<!--                    (JATS)."                                   -->
<!--                                                               -->
<!--             2. If you alter one or more modules of the suite, -->
<!--                then please rename your version and all its    -->
<!--                modules to avoid any confusion with the        -->
<!--                original suite. Also, please include the       -->
<!--                following statement as a comment in all your   -->
<!--                DTD modules:                                   -->
<!--                   "Based in part on, but not fully compatible -->
<!--                    with, the NISO Z39.96 Journal Article Tag  -->
<!--                    Suite."                                    -->
<!--                                                               -->
<!--             Suggestions for refinements and enhancements to   -->
<!--             the DTD suite should be sent in email to:         -->
<!--                 jats@ncbi.nlm.nih.gov                         -->
<!--                                                               -->
<!-- ORIGINAL CREATION DATE:                                       -->
<!--             December 2002                                     -->
<!--                                                               -->
<!-- CREATED BY: Jeff Beck       (NCBI)                            -->
<!--             Deborah Lapeyre (Mulberry Technologies, Inc.)     -->
<!--             Bruce Rosenblum (Inera Inc.)                      -->
<!--             B. Tommie Usdin (Mulberry Technologies, Inc.)     -->
<!--                                                               -->
<!--             NLM thanks the Harvard University Libraries, both -->
<!--             for proposing that a draft archiving NLM DTD for  -->
<!--             life sciences journals be extended to accommodate -->
<!--             journals in all disciplines and for sponsoring    -->
<!--             Bruce Rosenblum's collaboration with other DTD    -->
<!--             authors in completing NLM Version 1.0. The        -->
<!--             Andrew W. Mellon Foundation provided support for  -->
<!--             these important contributions.                    -->
<!--                                                               -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!--                    DTD VERSION/CHANGE HISTORY                 -->
<!-- ============================================================= -->
<!--

Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
   
     =============================================================
     Version 0.4                       (DAL/BTU) v0.4 (2011-01-31)
   
     This Tag Set is in the process of becoming a NISO standard.
     The version numbers are starting over from 0.4", as a Trial
     Use Draft, to be made into "Version 1.0" when the Tag Suite 
     becomes a NISO standard. Thus, NLM "Version 3.1 Draft" has 
     been changed to NISO "Version 0.4". No model, attribute, or
     parameter entity changes were made as part of this renaming.
   
     Details on NISO Tial Use Draft Version 0.4 are available at
           http://jats.nlm.nih.gov/JATS-0.4.
   
  3. Updated the public identifier to "v0.4 20110131//EN", 
     modified the formal public identifier to include "JATS (Z39.96)",
     and the filename as delivered to include "JATS" and the
     new version number "0".

     =============================================================
     Version 3.1                       (DAL/BTU) v3.1 (2010-04-30)

     Version 3.1 is fully compatible with Version 3.0.

     Details on version 3.1 are available at
           http://jats.nlm.nih.gov/3.1.

  2. Updated public identifier to "v3.1 20100830//EN"

     =============================================================
     Version 3.0                       (DAL/BTU) v3.0 (2007-10-31)

     Version 3.0 is the first non-backward-compatible release.
     In addition to the usual incremental changes, some
     elements and attributes have been renamed and/or remodeled
     to better meet user needs and to increase tag set consistency.
     All module change histories are available through the Tag Suite
     web site at http://dtd.nlm.nih.gov.

     Details on version 3.0 are available at
           http://jats.nlm.nih.gov/3.0.

  1. Updated public identifier to "v3.0 20080202//EN"              -->


<!-- ============================================================= -->
<!--                    DEFAULTS FOR ATTRIBUTE LISTS               -->
<!-- ============================================================= -->


<!--                    SECTION ATTRIBUTES                         -->
<!--                    Attribute list for Section element         -->
<!ENTITY % sec-atts
            "id         ID                                 #IMPLIED
             xml:lang   NMTOKEN                            #IMPLIED
             sec-type   CDATA                              #IMPLIED
             disp-level CDATA                              #IMPLIED
             specific-use
                        CDATA                              #IMPLIED" >


<!-- ============================================================= -->
<!--                    FLOATS GROUP ELEMENTS                      -->
<!-- ============================================================= -->


<!--                    FLOATS GROUP MODEL                         -->
<!--                    Model for the container element
                        <floats-group>, which can be used to hold all
                        the floating elements such as tables and
                        figures within an <article>.               -->
<!ENTITY % floats-group-model
                        "(%floats-display.class;)*"                  >


<!--                    FLOATS GROUP                               -->
<!--                    This container element is just a group to
                        hold the floating objects that occur within
                        an article. Some publishers like to
                        collect all these floating objects (figures,
                        tables, text boxes, graphics, etc.) together
                        at the end  rather than interspersing them
                        throughout the various parts of the document
                        where they are referenced.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=floats-group
                        http://jats.nlm.nih.gov/publishing/tag-library/0.4/index.html?elem=floats-group
                                                                   -->
<!ELEMENT  floats-group %floats-group-model;                         >


<!-- ============================================================= -->
<!--                    SECTION ELEMENTS                           -->
<!-- ============================================================= -->


<!--                    SECTION                                    -->
<!--                    A headed group of material; the basic
                        structural unit of the article
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=sec
                        http://jats.nlm.nih.gov/publishing/tag-library/0.4/index.html?elem=sec
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/0.4/index.html?elem=sec
                                                                   -->
<!ELEMENT  sec          %sec-model;                                  >
<!ATTLIST  sec
             %sec-atts;                                              >


<!--                    SECTION METADATA                           -->
<!--                    In some articles, each section has a different
                        author or some sections are authored by
                        different contributors from the enclosing
                        article. This container element for
                        section-level metadata is used to capture
                        information such as those contributors.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=sec-meta
                        http://jats.nlm.nih.gov/publishing/tag-library/0.4/index.html?elem=sec-meta
                                                                   -->
<!ELEMENT  sec-meta     %sec-meta-model;                             >


<!-- ================== End Section Class Module ================= -->
