worker/sisyphe-xml/conf/cambridge/dtd/jats-publishing-dtd-0.4/JATS-journalmeta0.ent

<!-- ============================================================= -->
<!--  MODULE:    Journal Metadata Elements                         -->
<!--  VERSION:   NISO 0.4                                          -->
<!--  DATE:      January 2011                                      -->
<!--                                                               -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!--                    PUBLIC DOCUMENT TYPE DEFINITION            -->
<!--                        TYPICAL INVOCATION                     -->
<!--
"-//NLM//DTD JATS (Z39.96) Archiving and Interchange DTD Suite Journal Metadata Elements v0.4 20110131//EN"
     Delivered as file "JATS-journalmeta0.ent"                     -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!-- SYSTEM:     Archiving and Interchange DTD Suite               -->
<!--                                                               -->
<!-- PURPOSE:    Names all elements used to describe the journal   -->
<!--             in which the journal article is published.        -->
<!--                                                               -->
<!-- CONTAINS:   1. Default values for attribute lists             -->
<!--             2. Journal metadata content model                 -->
<!--             3. Journal metadata elements in the order used in -->
<!--                the journal metadata element                   -->
<!--                                                               -->
<!-- CREATED FOR:                                                  -->
<!--             Digital archives and publishers who wish to       -->
<!--             create a custom XML DTD for original markup of    -->
<!--             journal literature, books, and related material,  -->
<!--             or for archiving and transferring such material   -->
<!--             between archives.                                 -->
<!--                                                               -->
<!--             This DTD is in the public domain. An organization -->
<!--             that wishes to create its own DTD from the suite  -->
<!--             may do so without permission from NLM.            -->
<!--                                                               -->
<!--             The suite has been set up to be extended using a  -->
<!--             new DTD file and a new DTD-specific customization -->
<!--             module to redefine the many Parameter Entities.   -->
<!--             Do not modify the suite directly or redistribute  -->
<!--             modified versions of the suite.                   -->
<!--                                                               -->
<!--             In the interest of maintaining consistency and    -->
<!--             clarity for potential users, NLM requests:        -->
<!--                                                               -->
<!--             1. If you create a DTD from the Archiving and     -->
<!--                Interchange DTD Suite and intend to stay       -->
<!--                compatible with the suite, then please include -->
<!--                the following statement as a comment in all of -->
<!--                your DTD modules:                              -->
<!--                   "Created from, and fully compatible with,   -->
<!--                    the NISO Z39.96 Journal Article Tag Suite  -->
<!--                    (JATS)."                                   -->
<!--                                                               -->
<!--             2. If you alter one or more modules of the suite, -->
<!--                then please rename your version and all its    -->
<!--                modules to avoid any confusion with the        -->
<!--                original suite. Also, please include the       -->
<!--                following statement as a comment in all your   -->
<!--                DTD modules:                                   -->
<!--                   "Based in part on, but not fully compatible -->
<!--                    with, the NISO Z39.96 Journal Article Tag  -->
<!--                    Suite."                                    -->
<!--                                                               -->
<!-- ORIGINAL CREATION DATE:                                       -->
<!--             December 2002                                     -->
<!--                                                               -->
<!-- CREATED BY: Jeff Beck       (NCBI)                            -->
<!--             Deborah Lapeyre (Mulberry Technologies, Inc.)     -->
<!--             Bruce Rosenblum (Inera Inc.)                      -->
<!--             B. Tommie Usdin (Mulberry Technologies, Inc.)     -->
<!--                                                               -->
<!--             NLM thanks the Harvard University Libraries, both -->
<!--             for proposing that a draft archiving NLM DTD for  -->
<!--             life sciences journals be extended to accommodate -->
<!--             journals in all disciplines and for sponsoring    -->
<!--             Bruce Rosenblum's collaboration with other DTD    -->
<!--             authors in completing NLM Version 1.0. The        -->
<!--             Andrew W. Mellon Foundation provided support for  -->
<!--             these important contributions.                    -->
<!--                                                               -->
<!--             Suggestions for refinements and enhancements to   -->
<!--             the DTD suite should be sent in email to:         -->
<!--                 jats@ncbi.nlm.nih.gov                         -->
<!--                                                               -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!--                    DTD VERSION/CHANGE HISTORY                 -->
<!-- ============================================================= -->
<!--

Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
   
     =============================================================
     Version 0.4                       (DAL/BTU) v0.4 (2011-01-31)
   
     This Tag Set is in the process of becoming a NISO standard.
     The version numbers are starting over from 0.4", as a Trial
     Use Draft, to be made into "Version 1.0" when the Tag Suite 
     becomes a NISO standard. Thus, NLM "Version 3.1 Draft" has 
     been changed to NISO "Version 0.4". No model, attribute, or
     parameter entity changes were made as part of this renaming.
   
     Details on NISO Tial Use Draft Version 0.4 are available at
           http://jats.nlm.nih.gov/JATS-0.4.
   
  8. Updated the public identifier to "v0.4 20110131//EN", 
     modified the formal public identifier to include "JATS (Z39.96)",
     and the filename as delivered to include "JATS" and the
     new version number "0".

     =============================================================
     Version 3.1                       (DAL/BTU) v3.1 (2010-04-30)

     Version 3.1 is fully compatible with Version 3.0.

     Details on version 3.1 are available at
           http://jats.nlm.nih.gov/3.1.

  7. I18N - Changed the default for @xml:lang from "en" to
     #IMPLIED, so that the @xml:lang would inherit properly and
     not need to be over-ridden in
      - <abbrev-journal-title> through %abbrev-journal-title-atts;
      - <journal-title> through %journal-title-atts;
      - <journal-subtitle> through %journal-subtitle-atts;

  6. JOURNAL METADATA- Added <notes> to repeat within <journal-meta>
     (through %journal-meta-model; and added @xml:lang and
     @specific-use to the attributes of <notes> through %notes-atts;

  5. @SPECIFIC-USE and @XML:LANG - Added the @specific-use and
     @xml:lang to the following elements:
      - abbrev-journal-title through abbrev-journal-title-atts
          (@specific-use-only; @xml:lang already)
      - journal-title through journal-title-atts
          (@specific-use-only;
      - journal-subtitle through journal-subtitle-atts
          (@specific-use-only)

  4. JOURNAL TITLE ELEMENTS - Removed the dependency which had both
     <journal-title> and <journal-subtitle> modeled with the same
     parameter entity %journal-title-elements;. Created new PE for
     %journal-subtitle-elements; but set it (as the default) to
     %journal-title-elements; so that no customization would break.

  3. SELF URI - Added <self-uri> to <journal-meta> (directly
     following <notes>) so that an XML document can point to the
     journal home page.

  2. Updated public identifier to "v3.1 20100830//EN"

     =============================================================
     Version 3.0                       (DAL/BTU) v3.0 (2007-10-31)

     Version 3.0 is the first non-backward-compatible release.
     In addition to the usual incremental changes, some
     elements and attributes have been renamed and/or remodeled
     to better meet user needs and to increase tag set consistency.
     All module change histories are available through the Tag Suite
     web site at http://dtd.nlm.nih.gov.

     Details on version 3.0 are available at
           http://jats.nlm.nih.gov/3.0.

  2. Changed default @xml:lang from "EN" from "en" to match latest
     RFC 4646/W3C/IANA Subtag Registry recommendations

  1. Updated public identifier to "v3.0 20080202//EN"              -->


<!-- ============================================================= -->
<!--                    DEFAULTS FOR ATTRIBUTE LISTS               -->
<!-- ============================================================= -->


<!--                    ABBREVIATED JOURNAL TITLE ATTRIBUTES       -->
<!--                    Attribute list for Abbreviated Journal Title
                        <abbrev-journal-title> element             -->
<!ENTITY % abbrev-journal-title-atts
            "abbrev-type
                        CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    JOURNAL TITLE ATTRIBUTES                   -->
<!--                    Attributes for the <journal-title>
                        element                                    -->
<!ENTITY % journal-title-atts
            "content-type
                        CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    JOURNAL TITLE GROUP ATTRIBUTES             -->
<!--                    Attributes for the <journal-title-group>
                        element                                    -->
<!ENTITY % journal-title-group-atts
             "content-type
                        CDATA                              #IMPLIED" >


<!--                    JOURNAL SUBTITLE GROUP ATTRIBUTES          -->
<!--                    Attributes for the <journal-subtitle>
                        element                                    -->
<!ENTITY % journal-subtitle-atts
            "content-type
                        CDATA                              #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang  NMTOKEN                            #IMPLIED"  >


<!-- ============================================================= -->
<!--                    JOURNAL METADATA                           -->
<!-- ============================================================= -->


<!--                    JOURNAL METADATA MODEL                     -->
<!--                    Content model for the journal metadata
                        element <journal-meta>                     -->
<!ENTITY % journal-meta-model
                        "(journal-id*, journal-title-group*, issn*,
                          isbn*, publisher?, notes*, self-uri*,
                          custom-meta-group?)"                       >


<!--ELEM   journal-id   Defined in %common0.ent"                   -->
<!--ELEM   issn         Defined in %common0.ent"                   -->
<!--ELEM   publisher    Defined in %common0.ent"                   -->
<!--ELEM   notes        Defined in %common0.ent"                   -->
<!--ELEM   custom-meta-group
                        Defined in %common0.ent"                   -->


<!--                    JOURNAL METADATA                           -->
<!--                    Metadata that identifies the journal in which
                        the article was published
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=journal-meta
                        http://jats.nlm.nih.gov/publishing/tag-library/0.4/index.html?elem=journal-meta
                                                                   -->
<!ELEMENT  journal-meta %journal-meta-model;                         >


<!-- ============================================================= -->
<!--                    JOURNAL TITLE ELEMENTS                     -->
<!-- ============================================================= -->


<!--                    JOURNAL TITLE GROUP MODEL                  -->
<!--                    Content model for the element
                        <journal-title-group>                      -->
<!ENTITY % journal-title-group-model
                        "(journal-title*, journal-subtitle*,
                          trans-title-group*, abbrev-journal-title*)">


<!--ELEM   trans-title-group
                        Defined in %common0.ent"                   -->


<!--                    JOURNAL TITLE GROUP                        -->
<!--                    A container element to hold the title and
                        its subtitle (if any) for the journal in which
                        the article was published.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=journal-title-group
                        http://jats.nlm.nih.gov/publishing/tag-library/0.4/index.html?elem=journal-title-group
                                                                   -->
<!ELEMENT  journal-title-group
                        %journal-title-group-model;                  >
<!ATTLIST  journal-title-group
             %journal-title-group-atts;                              >


<!--                    JOURNAL TITLE ELEMENTS                     -->
<!--                    The elements that can be included along with
                        data characters inside the content model of
                        a <journal-title>
                        Design Note: This PE begins with an OR
                        bar because %just-rendition; begins with an
                        OR bar.                                    -->
<!ENTITY % journal-title-elements
                        "%just-rendition;"                           >


<!--                    JOURNAL TITLE (FULL)                       -->
<!--                    The title of the journal in which the
                        article is published.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=journal-title
                        http://jats.nlm.nih.gov/publishing/tag-library/0.4/index.html?elem=journal-title
                                                                   -->
<!ELEMENT  journal-title
                        (#PCDATA %journal-title-elements;)*          >
<!ATTLIST  journal-title
             %journal-title-atts;                                    >


<!--                    JOURNAL SUBTITLE ELEMENTS                  -->
<!--                    The elements that can be included along with
                        data characters inside the content model of
                        a <journal-subtitle>                       -->
<!ENTITY % journal-subtitle-elements
                        "%journal-title-elements;"                   >


<!--                    JOURNAL SUBTITLE                           -->
<!--                    The subtitle of the journal in which the
                        article is published.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=journal-subtitle
                        http://jats.nlm.nih.gov/publishing/tag-library/0.4/index.html?elem=journal-subtitle
                                                                   -->
<!ELEMENT  journal-subtitle
                        (#PCDATA %journal-subtitle-elements;)*       >
<!ATTLIST  journal-subtitle
             %journal-subtitle-atts;                                 >


<!--                    ABBREVIATED JOURNAL TITLE ELEMENTS         -->
<!--                    The elements that can be included along with
                        data characters inside the content model of
                        a <abbrev-journal-title>
                        Design Note: This PE begins with an OR
                        bar because %just-rendition; begins with an
                        OR bar.                                    -->
<!ENTITY % abbrev-journal-title-elements
                        "%just-rendition;"                           >


<!--                    ABBREVIATED JOURNAL TITLE                  -->
<!--                    A short form of the title of the journal
                        in which the article is published.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=abbrev-journal-title
                        http://jats.nlm.nih.gov/publishing/tag-library/0.4/index.html?elem=abbrev-journal-title
                                                                   -->
<!ELEMENT  abbrev-journal-title
                        (#PCDATA %abbrev-journal-title-elements;)*   >
<!ATTLIST  abbrev-journal-title
             %abbrev-journal-title-atts;                             >


<!-- ================== End Journal Metadata Elements  =========== -->
