worker/sisyphe-xml/conf/cambridge/dtd/jats-publishing-dtd-0.4/JATS-references0.ent

<!-- ============================================================= -->
<!--  MODULE:    Bibliographic Reference (Citation) Class Elements -->
<!--  VERSION:   NISO 0.4                                          -->
<!--  DATE:      January 2011                                      -->
<!--                                                               -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!--                    PUBLIC DOCUMENT TYPE DEFINITION            -->
<!--                        TYPICAL INVOCATION                     -->
<!--
"-//NLM//DTD JATS (Z39.96) Archiving and Interchange DTD Suite Bibliographic Reference (Citation) Class Elements v0.4 20110131//EN"
Delivered as file "JATS-references0.ent"                           -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!-- SYSTEM:     Archiving and Interchange DTD Suite               -->
<!--                                                               -->
<!-- PURPOSE:    Defines the bibliographic reference elements      -->
<!--                                                               -->
<!--                                                               -->
<!-- CONTAINS:   1) Default definition of the references class     -->
<!--             2) Parameter Entities for attribute lists         -->
<!--             3) Models for the bibliographic reference         -->
<!--                class elements in alphabetical order           -->
<!--                                                               -->
<!-- CREATED FOR:                                                  -->
<!--             Digital archives and publishers who wish to       -->
<!--             create a custom XML DTD for original markup of    -->
<!--             journal literature, books, and related material,  -->
<!--             or for archiving and transferring such material   -->
<!--             between archives.                                 -->
<!--                                                               -->
<!--             This DTD is in the public domain. An organization -->
<!--             that wishes to create its own DTD from the suite  -->
<!--             may do so without permission from NLM.            -->
<!--                                                               -->
<!--             The suite has been set up to be extended using a  -->
<!--             new DTD file and a new DTD-specific customization -->
<!--             module to redefine the many Parameter Entities.   -->
<!--             Do not modify the suite directly or redistribute  -->
<!--             modified versions of the suite.                   -->
<!--                                                               -->
<!--             In the interest of maintaining consistency and    -->
<!--             clarity for potential users, NLM requests:        -->
<!--                                                               -->
<!--             1. If you create a DTD from the Archiving and     -->
<!--                Interchange DTD Suite and intend to stay       -->
<!--                compatible with the suite, then please include -->
<!--                the following statement as a comment in all of -->
<!--                your DTD modules:                              -->
<!--                   "Created from, and fully compatible with,   -->
<!--                    the NISO Z39.96 Journal Article Tag Suite  -->
<!--                    (JATS)."                                   -->
<!--                                                               -->
<!--             2. If you alter one or more modules of the suite, -->
<!--                then please rename your version and all its    -->
<!--                modules to avoid any confusion with the        -->
<!--                original suite. Also, please include the       -->
<!--                following statement as a comment in all your   -->
<!--                DTD modules:                                   -->
<!--                   "Based in part on, but not fully compatible -->
<!--                    with, the NISO Z39.96 Journal Article Tag  -->
<!--                    Suite."                                    -->
<!--                                                               -->
<!--             Suggestions for refinements and enhancements to   -->
<!--             the DTD suite should be sent in email to:         -->
<!--                 jats@ncbi.nlm.nih.gov                         -->
<!--                                                               -->
<!-- ORIGINAL CREATION DATE:                                       -->
<!--             December 2002                                     -->
<!--                                                               -->
<!-- CREATED BY: Jeff Beck       (NCBI)                            -->
<!--             Deborah Lapeyre (Mulberry Technologies, Inc.)     -->
<!--             Bruce Rosenblum (Inera Inc.)                      -->
<!--             B. Tommie Usdin (Mulberry Technologies, Inc.)     -->
<!--                                                               -->
<!--             NLM thanks the Harvard University Libraries, both -->
<!--             for proposing that a draft archiving NLM DTD for  -->
<!--             life sciences journals be extended to accommodate -->
<!--             journals in all disciplines and for sponsoring    -->
<!--             Bruce Rosenblum's collaboration with other DTD    -->
<!--             authors in completing NLM Version 1.0. The        -->
<!--             Andrew W. Mellon Foundation provided support for  -->
<!--             these important contributions.                    -->
<!--                                                               -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!--                    DTD VERSION/CHANGE HISTORY                 -->
<!-- ============================================================= -->
<!--

Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
   
     =============================================================
     Version 0.4                       (DAL/BTU) v0.4 (2011-01-31)
   
     This Tag Set is in the process of becoming a NISO standard.
     The version numbers are starting over from 0.4", as a Trial
     Use Draft, to be made into "Version 1.0" when the Tag Suite 
     becomes a NISO standard. Thus, NLM "Version 3.1 Draft" has 
     been changed to NISO "Version 0.4". No model, attribute, or
     parameter entity changes were made as part of this renaming.
   
     Details on NISO Tial Use Draft Version 0.4 are available at
           http://jats.nlm.nih.gov/JATS-0.4.
   
  5. Updated the public identifier to "v0.4 20110131//EN", 
     modified the formal public identifier to include "JATS (Z39.96)",
     and the filename as delivered to include "JATS" and the
     new version number "0".

     =============================================================
     Version 3.1                       (DAL/BTU) v3.1 (2010-04-30)

     Version 3.1 is fully compatible with Version 3.0.

     Details on version 3.1 are available at
           http://jats.nlm.nih.gov/3.1.

  4. @SPECIFIC-USE and @XML:LANG - Added the @specific-use and
     @xml:lang to the following elements:
      - access-date through access-date-atts (only @specific-use)
      - annotation through annotation-atts (both)
      - chapter-title through chapter-title-atts (both) NEW PE
      - comment through comment-atts (both)
      - date-in-citation through date-in-citation-atts (both)
      - edition through edition-atts (both)
      - gov through gov-atts (both)
      - note through note-atts (both)
      - part-title through part-title-atts (both) NEW PE
      - patent through patent-atts (both)
      - person-group through person-group-atts (both)
      - pub-id through pub-id-atts (@specific-use only)
      - ref through ref-atts (both)
      - ref-list through ref-list-atts (@specific-use only)
      - series through series-atts (both)
      - source through source-atts (@specific-use only;
          @xml:lang already)
      - std through std-atts (both)
      - time-stamp through time-stamp-atts (@specific-use only)
      - trans-source through trans-source-atts (@specific-use only;
          @xml:lang already)

  4. PERSON GROUP - Changed the model of <person-group> to mixed
     content. This entailed: creating new PE %person-group-elements;
     that contained the elements to be used and Changing PE
     %person-group-model to (#PCDATA %person-group-elements;)*.
     The PE person-group-model has been retained in this module for
     compatibility, but has been set to the mixed model using
     person-group-elements.

  3. ANNOTATION - Changed to content model to use the parameter
     entity %annotation-model; Content model unchanged.

  2. Updated public identifier to "v3.1 20100830//EN"

     =============================================================
     Version 3.0                       (DAL/BTU) v3.0 (2007-10-31)

     Version 3.0 is the first non-backward-compatible release.
     In addition to the usual incremental changes, some
     elements and attributes have been renamed and/or remodeled
     to better meet user needs and to increase tag set consistency.
     All module change histories are available through the Tag Suite
     web site at http://dtd.nlm.nih.gov.

     Details on version 3.0 are available at
           http://jats.nlm.nih.gov/3.0.

  1. Updated public identifier to "v3.0 20080202//EN"              -->

<!-- ============================================================= -->


<!-- ============================================================= -->
<!--                    PARAMETER ENTITIES FOR #PCDATA MODELS      -->
<!-- ============================================================= -->


<!--                    SOURCE ELEMENTS                            -->
<!--                    The elements that can be included along with
                        data characters inside the content model of
                        a <source>.                                -->
<!ENTITY % source-elements
                        "| %address-link.class; |%emphasis.class; |
                         %phrase-content.class; | %subsup.class;"    >


<!-- ============================================================= -->
<!--                    PARAMETER ENTITIES FOR ATTRIBUTE LISTS     -->
<!-- ============================================================= -->


<!--                    ACCESS DATE ATTRIBUTES                     -->
<!--                    Attributes for the <access-date> element   -->
<!ENTITY % access-date-atts
            "content-type
                        CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED"  >


<!--                    ANNOTATION ATTRIBUTES                      -->
<!--                    Attributes for the <annotation> element    -->
<!ENTITY % annotation-atts
            "content-type
                        CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    CHAPTER TITLE ATTRIBUTES                   -->
<!--                    Attributes for the <chapter-title> element -->
<!ENTITY % chapter-title-atts
            "specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    COMMENT ATTRIBUTES                         -->
<!--                    Attributes for the <comment> element       -->
<!ENTITY % comment-atts
            "content-type
                        CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    DATE IN CITATION ATTRIBUTES                -->
<!--                    Attributes for the <date-in-citation>
                                                         element   -->
<!ENTITY % date-in-citation-atts
            "content-type
                        CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    EDITION ATTRIBUTES                         -->
<!--                    Attributes for the <edition> element       -->
<!ENTITY % edition-atts
            "content-type
                        CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    GOVERNMENT ATTRIBUTES                      -->
<!--                    Attributes for the <gov> element           -->
<!ENTITY % gov-atts
            "content-type
                        CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    NOTE ATTRIBUTES                            -->
<!--                    Attributes for the <note> element          -->
<!ENTITY % note-atts
            "content-type
                        CDATA                             #IMPLIED
             id         ID                                #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    PART TITLE ATTRIBUTES                      -->
<!--                    Attributes for the <part-title> element    -->
<!ENTITY % part-title-atts
            "specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    PATENT ATTRIBUTES                          -->
<!--                    Attributes for the <patent> element        -->
<!ENTITY % patent-atts
            "content-type
                        CDATA                             #IMPLIED
             country    CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    PERSON GROUP ATTRIBUTES                    -->
<!--                    Attributes for the <person-group> element  -->
<!ENTITY % person-group-atts
            "id         ID                                #IMPLIED
             person-group-type
                        CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    PUBLICATION IDENTIFIER ATTRIBUTES          -->
<!--                    Attributes for the <pub-id> element        -->
<!ENTITY % pub-id-atts
            "pub-id-type
                        (%pub-id-types;)                  #IMPLIED
             specific-use
                        CDATA                             #IMPLIED"  >


<!--                    REFERENCE ATTRIBUTES                       -->
<!--                    Attributes for the <ref> element           -->
<!ENTITY % ref-atts
             "id        ID                                #IMPLIED
              content-type
                        CDATA                             #IMPLIED
              specific-use
                        CDATA                             #IMPLIED
              xml:lang  NMTOKEN                           #IMPLIED"  >


<!--                    REFERENCE LIST ATTRIBUTES                  -->
<!--                    Attributes for the <ref-list> element      -->
<!ENTITY % ref-list-atts
            "id         ID                                #IMPLIED
             content-type
                        CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    SERIES ATTRIBUTES                          -->
<!--                    Attributes for the <series> element        -->
<!ENTITY % series-atts
            "content-type
                        CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    SOURCE ATTRIBUTES                          -->
<!--                    Attributes for the <source> and
                        <trans-source> elements                    -->
<!ENTITY % source-atts
            "id        ID                                #IMPLIED
             content-type
                       CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    STANDARDS ATTRIBUTES                       -->
<!--                    Attributes for the <std> element           -->
<!ENTITY % std-atts
            "content-type
                        CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    TIME STAMP ATTRIBUTES                      -->
<!--                    Attributes for the <time-stamp> element    -->
<!ENTITY % time-stamp-atts
            "content-type
                        CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED"  >


<!--                    TRANSLATED SOURCE ATTRIBUTES               -->
<!--                    Attributes for the <trans-source> element  -->
<!ENTITY % trans-source-atts
            "id        ID                                #IMPLIED
             content-type
                       CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!-- ============================================================= -->
<!--                    BIBLIOGRAPHIC REFERENCE LIST ELEMENTS      -->
<!-- ============================================================= -->


<!--ELEM   article-title
                        Defined in %common.ent;                    -->
<!--ELEM   collab       Defined in %common.ent;                    -->
<!--ELEM   conf-date    Defined in %common.ent;                    -->
<!--ELEM   conf-loc     Defined in %common.ent;                    -->
<!--ELEM   conf-name    Defined in %common.ent;                    -->
<!--ELEM   day          Defined in %common.ent;                    -->
<!--ELEM   elocation-id Defined in %common.ent;                    -->
<!--ELEM   email        Defined in %common.ent;                    -->
<!--ELEM   fpage        Defined in %common.ent;                    -->
<!--ELEM   issn         Defined in %common.ent;                    -->
<!--ELEM   issue        Defined in %common.ent;                    -->
<!--ELEM   lpage        Defined in %common.ent;                    -->
<!--ELEM   month        Defined in %common.ent;                    -->
<!--ELEM   publisher-loc
                        Defined in %common.ent;                    -->
<!--ELEM   publisher-name
                        Defined in %common.ent;                    -->
<!--ELEM   season       Defined in %common.ent;                    -->
<!--ELEM   title        Defined in %common.ent;                    -->
<!--ELEM   trans-title  Defined in %common.ent;                    -->
<!--ELEM   volume       Defined in %common.ent;                    -->
<!--ELEM   year         Defined in %common.ent;                    -->


<!--                    REFERENCE LIST MODEL                       -->
<!--                    Content model for the <ref-list> element   -->
<!ENTITY % ref-list-model
                        "(label?, title?, (%para-level;)*, ref*,
                         (%ref-list.class;)* )"                      >


<!--                    REFERENCE LIST (BIBLIOGRAPHIC REFERENCE LIST)
                                                                   -->
<!--                    List of references (citations) for the
                        article.  Often called "References",
                        "Bibliography", or "Additional Reading". No
                        distinction is made between lists of cited
                        references and lists of suggested references.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=ref-list
                        http://jats.nlm.nih.gov/publishing/tag-library/0.4/index.html?elem=ref-list
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/0.4/index.html?elem=ref-list
                                                                   -->
<!ELEMENT  ref-list     %ref-list-model;                             >
<!ATTLIST  ref-list
             %ref-list-atts;                                         >


<!--                    REFERENCE ITEM MODEL                       -->
<!--                    Content model for the <ref> element        -->
<!ENTITY % ref-model    "(label?,
                         (%citation.class; | %note.class;)+ )"       >


<!--                    REFERENCE ITEM                             -->
<!--                    One item in a bibliographic list, typically
                        a citation describing a referenced work, but
                        some journals may place notes in this list as
                        well as citations.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=ref
                        http://jats.nlm.nih.gov/publishing/tag-library/0.4/index.html?elem=ref
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/0.4/index.html?elem=ref
                                                                   -->
<!ELEMENT  ref          %ref-model;                                  >
<!ATTLIST  ref
             %ref-atts;                                              >


<!--ELEM   element-citation
                        Defined in %common.ent;                    -->
<!--ELEM   mixed-citation
                        Defined in %common.ent;                    -->


<!--                    NOTE IN A REFERENCE LIST MODEL             -->
<!--                    Content model for a note in a reference
                        list element                               -->
<!ENTITY % note-model   "(label?,
                          (%just-para.class; | %product.class;)+ )"  >


<!--                    NOTE IN A REFERENCE LIST                   -->
<!--                    Used to tag non-citation material that
                        sometimes within a reference list, for
                        example, used to tag end note material when
                        such a note is placed within a reference
                        list.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=note
                        http://jats.nlm.nih.gov/publishing/tag-library/0.4/index.html?elem=note
                                                                   -->
<!ELEMENT  note         %note-model;                                 >
<!ATTLIST  note
             %note-atts;                                             >


<!-- ============================================================= -->
<!--                    BIBLIOGRAPHIC REFERENCE CLASS              -->
<!-- ============================================================= -->


<!--                    ACCESS DATE ELEMENTS                       -->
<!--                    The elements that can be included along with
                        data characters inside the content model of
                        the Access Date <access-date> element      -->
<!ENTITY % access-date-elements
                        ""                                           >


<!--                    ACCESS DATE FOR CITED WORK                 -->
<!--                    The date on which the work which is cited
                        was examined. Some online resources are
                        changing so quickly that a citation to the
                        resource is not complete without the date
                        on which the cited resource was examined,
                        since a day before or a day later the
                        relevant material might be different.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=access-date
                        http://jats.nlm.nih.gov/publishing/tag-library/0.4/index.html?elem=access-date
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/0.4/index.html?elem=access-date
                                                                   -->
<!ELEMENT  access-date  (#PCDATA %access-date-elements;)*            >
<!ATTLIST  access-date
             %access-date-atts;                                      >


<!--                    DATE ELEMENTS MODEL                        -->
<!--                    The content model for the <annotation>
                        element                                    -->
<!ENTITY % annotation-model
                        "((%just-para.class;)+)"                     >


<!--                    ANNOTATION IN A CITATION                   -->
<!--                    Most citations just provide the bibliographic
                        information for a cited reference but a few
                        describe or comment upon the nature or
                        quality of the reference or summarize its
                        findings.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=annotation
                        http://jats.nlm.nih.gov/publishing/tag-library/0.4/index.html?elem=annotation
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/0.4/index.html?elem=annotation
                                                                   -->
<!ELEMENT  annotation   %annotation-model;                           >
<!ATTLIST  annotation
             %annotation-atts;                                       >


<!--                    CHAPTER TITLE ELEMENTS                     -->
<!--                    The elements that can be included along with
                        data characters inside the content model of
                        the <chapter-title> element                -->
<!ENTITY % chapter-title-elements
                        "%source-elements;"                          >


<!--                    CHAPTER TITLE IN A CITATION                -->
<!--                    Within a citation (such as a <mixed-citation>
                        or an <element-citation>), the title of a
                        cited book is tagged as <source> and the
                        title of a chapter within that book is tagged
                        as <chapter-title>.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=chapter-title
                        http://jats.nlm.nih.gov/publishing/tag-library/0.4/index.html?elem=chapter-title
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/0.4/index.html?elem=chapter-title
                                                                   -->
<!ELEMENT  chapter-title
                        (#PCDATA %chapter-title-elements;)*          >
<!ATTLIST  chapter-title
             %chapter-title-atts;                                    >


<!--                    COMMENT ELEMENTS                           -->
<!--                    The elements that can be included along with
                        data characters inside the content model of
                        the Comment in a Citation <comment> element.
                        Design Note: All inline mixes begin with an
                        OR bar, but since %simple-phrase; is an
                        inline mix, the OR bar is already there.   -->
<!ENTITY % comment-elements
                        "%simple-phrase;"                            >


<!--                    COMMENT IN A CITATION                      -->
<!--                    Used to mark unstructured text within an
                        otherwise element structured reference.
                        In an unstructured reference, this text would
                        merely be data characters.
                        Typical comments could include:
                          <comment>[Abstract]</comment>
                          <comment> translated from Russian</comment>
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=comment
                        http://jats.nlm.nih.gov/publishing/tag-library/0.4/index.html?elem=comment
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/0.4/index.html?elem=comment
                                                                   -->
<!ELEMENT  comment      (#PCDATA %comment-elements;)*                >
<!ATTLIST  comment
             %comment-atts;                                          >


<!--                    DATE IN CITATION ELEMENTS                  -->
<!--                    The elements that can be included along with
                        data characters inside the content model of
                        the Date Inside Citation <date-in-citation>
                        element                                    -->
<!ENTITY % date-in-citation-elements
                        "| %date-parts.class;"                       >


<!--                    DATE INSIDE CITATION                       -->
<!--                    A container element for any date that may be
                        referenced in a citation, other than the
                        publication date of the cited work.
                        The "content-type" attribute should be used
                        to identify the purpose/type of date. For
                        example, if the element contains the date
                        on which the article contributor examined the
                        cited work, the attribute might be
                        "access-date".
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=date-in-citation
                        http://jats.nlm.nih.gov/publishing/tag-library/0.4/index.html?elem=date-in-citation
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/0.4/index.html?elem=date-in-citation
                                                                   -->
<!ELEMENT  date-in-citation
                        (#PCDATA %date-in-citation-elements;)*       >
<!ATTLIST  date-in-citation
             %date-in-citation-atts;                                 >


<!--                    EDITION ELEMENTS                           -->
<!--                    The elements that can be included along with
                        data characters inside the content model of
                        <edition>
                        Design Note: -%just-rendition; begins with
                        an OR bar, so this inline mix begins with
                        an OR bar.                                 -->
<!ENTITY % edition-elements
                        "%just-rendition;"                           >

<!--                    EDITION, CITED                             -->
<!--                    The edition number of a cited publication
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=edition
                        http://jats.nlm.nih.gov/publishing/tag-library/0.4/index.html?elem=edition
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/0.4/index.html?elem=edition
                                                                   -->
<!ELEMENT  edition      (#PCDATA %edition-elements;)*                >
<!ATTLIST  edition
             %edition-atts;                                          >


<!--                    GOVERNMENT REPORT ELEMENTS                 -->
<!--                    The elements that can be included along with
                        data characters inside the content model of
                        <gov>
                        Design Note: -%rendition-plus; begins with
                        an OR bar, so this inline mix begins with
                        an OR bar.                                 -->
<!ENTITY % gov-elements "%rendition-plus;"                           >


<!--                    GOVERNMENT REPORT, CITED                   -->
<!--                    The identification information (typically the
                        title and/or an identification number) for
                        a cited governmental report or other
                        government publication
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=gov
                        http://jats.nlm.nih.gov/publishing/tag-library/0.4/index.html?elem=gov
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/0.4/index.html?elem=gov
                                                                   -->
<!ELEMENT  gov          (#PCDATA %gov-elements;)*                    >
<!ATTLIST  gov
             %gov-atts;                                              >


<!--                    PART TITLE ELEMENTS                        -->
<!--                    The elements that can be included along with
                        data characters inside the content model of
                        the <part-title> element                   -->
<!ENTITY % part-title-elements
                        "%source-elements;"                          >


<!--                    PART TITLE IN A CITATION                   -->
<!--                    Within a citation (such as a
                        <mixed-citation> or an <element-citation>),
                        when books are divided into Parts (which
                        may then contain smaller units such as
                        chapters), this element can be used to
                        record the title of the cited Part.
                        The book is tagged as <source>.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=part-title
                        http://jats.nlm.nih.gov/publishing/tag-library/0.4/index.html?elem=part-title
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/0.4/index.html?elem=part-title
                                                                   -->
<!ELEMENT  part-title   (#PCDATA %part-title-elements;)*             >
<!ATTLIST  part-title
             %part-title-atts;                                       >


<!--                    PATENT NUMBER ELEMENTS                     -->
<!--                    The elements that can be included along with
                        data characters inside the content model of
                        <patent>
                        Design Note: -%just-rendition; begins with
                        an OR bar, so this inline mix begins with
                        an OR bar.                                 -->
<!ENTITY % patent-elements
                        "%just-rendition;"                           >


<!--                    PATENT NUMBER, CITED                       -->
<!--                    The identification information (typically the
                        patent number or number and name) for a
                        cited patent
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=patent
                        http://jats.nlm.nih.gov/publishing/tag-library/0.4/index.html?elem=patent
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/0.4/index.html?elem=patent
                                                                   -->
<!ELEMENT  patent       (#PCDATA %patent-elements;)*                 >
<!ATTLIST  patent
             %patent-atts;                                           >


<!--                    PERSON GROUP ELEMENTS                      -->
<!--                    The elements that can be included along with
                        data characters inside the content model of
                        <person-group>                             -->
<!ENTITY % person-group-elements
                        "| %name.class; |
                          %person-group-info.class;"                 >


<!--                    PERSON GROUP MODEL                         -->
<!--                    Content model for the Person Group element -->
<!ENTITY % person-group-model
                        "(#PCDATA %person-group-elements;)*"         >


<!--                    PERSON GROUP FOR A CITED PUBLICATION       -->
<!--                    Wrapper element for one or more authors,
                        editors, translators, etc. named in a cited
                        reference.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=person-group
                        http://jats.nlm.nih.gov/publishing/tag-library/0.4/index.html?elem=person-group
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/0.4/index.html?elem=person-group
                                                                   -->
<!ELEMENT  person-group %person-group-model;                         >
<!ATTLIST  person-group
             %person-group-atts;                                     >


<!--                    PUBLICATION IDENTIFIER FOR A CITED PUBLICATION
                                                                   -->
<!--                    The identifier of a publication such as a
                        related journal article that is listed
                        within a citation (such as a <mixed-citation>
                        or an <element-citation>) inside the
                        bibliographic reference list <ref-list> of
                        an article.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=pub-id
                        http://jats.nlm.nih.gov/publishing/tag-library/0.4/index.html?elem=pub-id
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/0.4/index.html?elem=pub-id
                                                                   -->
<!ELEMENT  pub-id       (#PCDATA)                                    >
<!ATTLIST  pub-id
             %pub-id-atts;                                           >


<!--                    SERIES ELEMENTS                            -->
<!--                    The elements that can be included along with
                        data characters inside the content model of
                        <series>
                        Design Note: -%rendition-plus; begins with
                        an OR bar, so this inline mix begins with
                        an OR bar.                                 -->
<!ENTITY % series-elements
                        "%rendition-plus;"                           >


<!--                    SERIES                                     -->
<!--                    Container element for any series information
                        used in a citation (such as a <mixed-citation>
                        or an <element-citation>). For example,
                        within a citation to a non-journal item that
                        spans multiple volumes, this element could
                        contain the unique title of the entire series:
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=series
                        http://jats.nlm.nih.gov/publishing/tag-library/0.4/index.html?elem=series
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/0.4/index.html?elem=series
                                                                   -->
<!ELEMENT  series       (#PCDATA %series-elements;)*                 >
<!ATTLIST  series
             %series-atts;                                           >


<!--                    STANDARD ELEMENTS                          -->
<!--                    The elements that can be included along with
                        data characters inside the content model of
                        <std>
                        Design Note: -%rendition-plus; begins with
                        an OR bar, so this inline mix begins with
                        an OR bar.                                 -->
<!ENTITY % std-elements "%rendition-plus;"                           >


<!--                    STANDARD, CITED                            -->
<!--                    The identification information (typically the
                        standard number, organization, and name) for
                        a cited standard, where "standard" is defined
                        as a document produced by a recognized
                        standards body such ISO, IEEE, OASIS, ANSI,
                        etc.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=std
                        http://jats.nlm.nih.gov/publishing/tag-library/0.4/index.html?elem=std
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/0.4/index.html?elem=std
                                                                   -->
<!ELEMENT  std          (#PCDATA %std-elements;)*                    >
<!ATTLIST  std
             %std-atts;                                              >


<!--                    SOURCE                                     -->
<!--                    Within a citation, this is the title of a
                        journal, book, conference proceedings, etc.
                        that is the source of the cited material.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=source
                        http://jats.nlm.nih.gov/publishing/tag-library/0.4/index.html?elem=source
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/0.4/index.html?elem=source
                                                                   -->
<!ELEMENT  source       (#PCDATA %source-elements;)*                 >
<!ATTLIST  source
             %source-atts;                                           >


<!--                    TIME STAMP ELEMENTS                        -->
<!--                    The elements that can be included along with
                        data characters inside the content model of
                        a <time-stamp>.                            -->
<!ENTITY % time-stamp-elements
                        ""                                           >


<!--                    TIME STAMP FOR CITED WORK                 -->
<!--                    Used to record any time stamp that was
                        found on the cited resource when it was
                        examined, for resources such as databases
                        that may use a time signature to identify
                        different versions.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=time-stamp
                        http://jats.nlm.nih.gov/publishing/tag-library/0.4/index.html?elem=time-stamp
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/0.4/index.html?elem=time-stamp
                                                                   -->
<!ELEMENT  time-stamp   (#PCDATA %time-stamp-elements;)*             >
<!ATTLIST  time-stamp
             %time-stamp-atts;                                       >


<!--                    TRANSLATED SOURCE                          -->
<!--                    Within a citation, this is the title of a
                        journal, book, conference proceedings, etc.
                        that is the source of the cited material,
                        but with the source name given in a different
                        language from the source as given in the
                        <source> element. For example, if an article
                        is originally in French, the <source> name
                        would be the French name and the
                        <trans-source> might be in English.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=trans-source
                        http://jats.nlm.nih.gov/publishing/tag-library/0.4/index.html?elem=trans-source
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/0.4/index.html?elem=trans-source
                                                                   -->
<!ELEMENT  trans-source (#PCDATA %source-elements;)*                 >
<!ATTLIST  trans-source
             %trans-source-atts;                                     >


<!-- ================== End Bibliographic Class Module =========== -->
